<div class="modal-body">
<div class="container my-5 px-5">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="my-5 px-5">
    <!-- Email input -->
    <div class="form-outline form-floating mb-4">
      <input
        ngModel
        name="email"
        #email="ngModel"
        [ngClass]="email.touched ? email.valid ? 'border-success' : 'border-danger' : ''"
        placeholder="Your Email..."
        type="email"
        id="email"
        class="form-control"
        required
        email
      />
      <label class="form-label" for="email">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline form-floating mb-4">
      <input
        ngModel
        name="password"
        #password="ngModel"
        [ngClass]="password.touched ? password.valid ? 'border-success' : 'border-danger' : ''"
        placeholder="Your password"
        type="password"
        id="password"
        class="form-control"
        required
      />
      <label class="form-label" for="password">Password</label>
    </div>
    <div id="errMsg" class="text-danger"><p *ngIf="errorMessage">{{errorMessage}}</p></div>
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox" value=""
            id="remember"
            checked="checked" />
          <label
            class="form-check-label"
            for="remember"> Remember me </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a href="#">Forgot password?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button class="btn btn-primary btn-block mb-4" >Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a routerLink="/public/register">Register</a></p>
      <p>or sign up with:</p>
      <a type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
      </a>

      <a type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </a>

      <a type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </form>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<!---->
<!---->
