<div class="container-fluid p-0">
  <ngb-carousel class="carousel-dark">
    <ng-template ngbSlide *ngFor="let housing of housings">
      <div class="wrapper">
        <img [src]="housing.mainImage.apiUri" alt="Random first slide">
      </div>
      <div class="carousel-caption text-dark">
        <h3>{{ housing.address.name }}, {{ housing.address.number }}</h3>
        <p>{{ housing.description | readMore: 100 }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Simple">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Disabled" [disabled]="true">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="col-6">
      <div class="row">
        <div *ngFor="let user of users" class="col-6">
          <div class="card" style="width: 18rem;">
            <img src="{{user.avatar}}" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <p class="card-text">{{user.biography | readMore: 100}}</p>
              <a href="#" class="btn btn-primary" routerLink="/user/profile/{{user.id}}">Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

