<div *ngIf="housingPaginate" class="container">

  <div class="row row-cols-5">
    <div class="col" *ngFor="let housing of housingPaginate.list |
    paginate: {
      id: 'DEFAULT_PAGINATION_ID',
      currentPage: page,
      itemsPerPage: pageSize,
      totalItems: total
    }">
      <h2>{{housing.address.name}}, {{housing.address.number}}</h2>
      <img *ngIf="housing.mainImage" class="img-fluid" [src]="housing.mainImage.apiUri" alt=""/>
      <button [routerLink]="getDetailsLink(housing.id)" class="btn btn-primary">Details</button>
    </div>
    <!--<pagination-controls
      (pageChange)="pageChanged(housingPaginate.pagination.next)"
      (pageBoundsCorrection)="pageChanged($event)"
      [maxSize]="housingPaginate.pagination.limit"
      [autoHide]="false"
      [responsive]="true"
      [directionLinks]="true"
      previousLabel="prev"
      nextLabel="next"
      screenReaderPaginationLabel="pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page">
    </pagination-controls>-->

  </div>
  <ng-template #withoutPagination>
    <div class="row">
      <div class="col-4" *ngFor="let housing of housingPaginate.list">
        <h2>{{housing.address.name}}, {{housing.address.number}}</h2>
        <img *ngIf="housing.mainImage" class="img-fluid" [src]="housing.mainImage.apiUri" alt=""/>
        <button [routerLink]="getDetailsLink(housing.id)" class="btn btn-primary">Details</button>
      </div>
    </div>
  </ng-template>
  <pagination-controls
    *ngIf="pagination"
    (pageChange)="pageChanged($event)"
    [maxSize]="housingPaginate.pagination.limit"
    (pageBoundsCorrection)="pageChanged($event)"
    [autoHide]="false"
    [responsive]="true"
    [directionLinks]="true"
    previousLabel="prev"
    nextLabel="next"
    screenReaderPaginationLabel="pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"
  ></pagination-controls>
</div>
