<div *ngIf="getUser; else register">
  <public-activation [activationUri]="getUser.activationUri"></public-activation>
</div>
<ng-template #register>
  <form class="mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row mx-5">
        <div class="col-12 form-floating mb-3">
          <input class="form-control" id="name" type="text" placeholder="Your name" formControlName="name">
          <label for="name">Name</label>
        </div>
        <div class="col-12 form-floating mb-3">
          <input class="form-control" id="surname" type="text" placeholder="Your surname" formControlName="surname">
          <label for="surname">Surname</label>
        </div>
        <div class="col-12 form-floating mb-3">
          <input class="form-control" id="residence" type="text" placeholder="Your residence" formControlName="residence">
          <label for="surname">Residence</label>
        </div>
        <div class="col-12 form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
          <label for="email">Email address</label>
        </div>
        <div class="col-12 form-floating mb-3">
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
          <label for="password">Password</label>
        </div>
        <div class="col-12 form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="re-password"
            placeholder="Password"
            formControlName="rePassword"
          >
          <label for="re-password">Repeat password</label>
        </div>
        <div class="col-1">
          <button class="btn btn-primary" [disabled]="!form.valid">Send</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
