<div class="container" *ngIf="housing">
  <div class="row">

    <div class="card mb-3 col-12 col-lg-6">
      <img class="card-img-top" src="{{housing.mainImage.apiUri}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{housing.address.road}} {{housing.address.name}}, {{housing.address.number}}</h5>
        <p class="card-text">{{housing.description}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
      <div class="card-body">
        <div><span i18n="Comunidad autónoma">state: </span>{{housing.address.state}}</div>
        <div><span>province: </span>{{housing.address.province}}</div>
        <div><span>floor: </span>{{housing.address.floor}}</div>
        <div><span>ladder: </span>{{housing.address.ladder}}</div>
        <a class="card-link" routerLink="/user/profile/{{housing.owner}}">Owner</a>
      </div>
      <div class="card-footer d-flex ">
        <button [disabled]="!session" (click)="onLike(session)" class="btn btn-primary d-flex align-items-center me-3">
          <i [ngClass]="session && isSessionLike(session) ? 'bi bi-heart-fill me-2': 'bi bi-heart me-2'"></i>
          <p class="mb-0 me-2">Like</p>

        </button>
        <span>{{housing.likes.length}}</span>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h2 routerLink="/image/{{housing.id}}">Images</h2>
      <div class="row">
        <div class="col-4" *ngFor="let image of housing.images">
          <h3>{{image.title}}</h3>
          <img class="img-fluid" routerLink="/image/details/{{image.id}}" [src]="image.apiUri" alt="">
        </div>
      </div>
      <div *ngIf="session && session.id == housing.owner" class="col-12 col-lg-6">
        <app-upload-housing-image [housingId]="housing.id"></app-upload-housing-image>
      </div>
    </div>

  </div>
  <div class="row">
    <h2 routerLink="/comment/housing/{{housing.id}}">Comments</h2>
    <app-comment [parent]="housing" [session]="session" [instance]="'housing'"></app-comment>
  </div>
</div>
<div>
</div>


