<div class="container">
  <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)">
    <div class="row mt-5">
      <div class="col-12 form-floating my-2">
        <input
          class="form-control"
          ngModel
          name="oldPassword"
          #oldPassword="ngModel"
          [ngClass]="oldPassword.touched ? oldPassword.valid ? 'border-success' : 'border-danger' : ''"
          placeholder="Enter your old password"
          type="password"
          id="oldPasswd"
          required
          minlength="6">
        <label for="oldPasswd">Old password</label>
      </div>
      <div class="col-12 form-floating my-2">
        <input
          class="form-control"
          ngModel
          name="newPassword"
          #newPassword="ngModel"
          [ngClass]="newPassword.touched ? newPassword.valid ? 'border-success' : 'border-danger' : '' "
          placeholder="Enter your new password"
          type="password"
          id="newPasswd"
          required
          minlength="6"
        />
        <label for="newPasswd">New password</label>
      </div>
      <div class="col-12 form-floating my-2">
        <input
          class="form-control"
          ngModel
          name="rePassword"
          #rePassword="ngModel"
          [ngClass]="rePassword.touched ? rePassword.valid ? 'border-success' : 'border-danger' : '' "
          placeholder="Repeat your new password"
          type="password"
          id="rePasswd"
          required
          minlength="6"
        />
        <label for="rePasswd">Repeat new password</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button
          class="btn btn-primary"
          [disabled]="!changePasswordForm.valid"
        >
          Send
        </button>
      </div>
      <div class="col-6">
        <p
          class="text-success"
          *ngIf="responseMessageOk"
        >
          {{responseMessageOk}}
        </p>
        <p
          class="text-danger"
          *ngIf="responseMessageError"
        >
          {{responseMessageError}}
        </p>
      </div>
    </div>
  </form>
</div>
